SECRET_KEY=change-me
DEBUG=False

ALLOWED_HOSTS=127.0.0.1,localhost,<VM_EXTERNAL_IP>,<YOUR_DOMAIN>
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost,http://<VM_EXTERNAL_IP>,https://<YOUR_DOMAIN>
SITE_URL=http://<VM_EXTERNAL_IP>

DB_NAME=checkarium
DB_USER=checkarium_user
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432

REDIS_URL=redis://redis:6379/0

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=

SITE_URL=http://127.0.0.1

CARE_NOTIFICATIONS_HOUR=7
CARE_NOTIFICATIONS_MINUTE=0