SECRET_KEY=change-me
DEBUG=True

DB_NAME=checkarium
DB_USER=checkarium_user
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432

POSTGRES_DB=checkarium
POSTGRES_USER=checkarium_user
POSTGRES_PASSWORD=change-me

REDIS_URL=redis://localhost:6379/0

TELEGRAM_BOT_TOKEN=change-me
TELEGRAM_BOT_USERNAME=change-me

SITE_URL=http://127.0.0.1:8000

CARE_NOTIFICATIONS_HOUR=7
CARE_NOTIFICATIONS_MINUTE=0