# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Build / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Tests / coverage
#htmlcov/
#.tox/
#.nox/
#.coverage
#.coverage.*
#.cache
#nosetests.xml
#coverage.xml
#*.cover
#*.py.cover
#.hypothesis/
#.pytest_cache/
#cover/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Celery / Redis
celerybeat-schedule
celerybeat-schedule.*
celerybeat.pid
*.rdb
*.aof
*.pid

# Environments
.env
.envrc
.venv
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
!.env.sample
!.env.prod.sample

# Editors
.idea/
.vscode/
.ropeproject/

# Type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/

# Poetry
poetry.toml

# Media
media/*
!media/demo/
!media/demo/pets/
!media/demo/pets/*.jpg
!media/demo/pets/*.jpeg
!media/demo/pets/*.png
!media/demo/users/
!media/demo/users/*.jpg
!media/demo/users/*.jpeg
!media/demo/users/*.png

# Django generated
collected_static/


database.ini