<nav class="navbar navbar-expand-lg navbar-ui">
    <div class="container-fluid app-container">

        <a class="navbar-brand fw-bold" href="{% url 'home' %}">
            🐍 Checkarium
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link nav-link-ui" href="#">Мой кабинет</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-ui" href="#">Питомцы</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-ui" href="#">События</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-ui" href="#">Профиль</a>
                </li>

            </ul>
        </div>

    </div>
</nav>